# .NET Core
bin/
obj/
out/

# User-specific files
.idea/
.vscode/
.vs/
*.[Pp]rivate/

# ASP.NET Core
appsettings.json
appsettings.Development.json

# Logs
log/
logs/

# NPM packages
node_modules/

# VS Code directories
.vscode/

# Windows Installer files
Thumbs.db
Desktop.ini

# JetBrains Rider directories
.idea/

# ASP.NET Core Build output
/dist/
/build/

# Visual Studio for Mac
.vscode/

# .NET Core global tools folder
/.dotnet/
